@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;800;900&display=swap");

.App {
  text-align: center;
  background-color: #fafafa;
  font-family: "Inter", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (min-width: 1800px) {
  .container {
    max-width: 1630px !important;
  }
}

.App-link {
  color: #61dafb;
}

.linkColor {
  color: #06c;
  text-decoration: none;
  font-weight: 500;
}
.linkColor:hover {
  text-decoration: underline;
}
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(300px) skewX(-45deg);
    opacity: 0;
  }
  4% {
    -webkit-transform: translateX(130.348px) skewX(-26.202deg);
    opacity: 0.66;
  }
  8% {
    -webkit-transform: translateX(22.718px) skewX(4.518deg);
    opacity: 1;
  }
  12% {
    -webkit-transform: translateX(2.478px) skewX(13.049deg);
  }
  16% {
    -webkit-transform: translateX(0.11px) skewX(5.011deg);
  }
  20% {
    -webkit-transform: skewX(-2.728deg);
  }
  24% {
    -webkit-transform: skewX(-3.465deg);
  }
  28% {
    -webkit-transform: skewX(-1.049deg);
  }
  32% {
    -webkit-transform: skewX(0.956deg);
  }
  40% {
    -webkit-transform: skewX(0.094deg);
  }
  44% {
    -webkit-transform: skewX(-0.33deg);
  }
  48% {
    -webkit-transform: skewX(-0.211deg);
  }
  52% {
    -webkit-transform: skewX(0.025deg);
  }
  100% {
    -webkit-transform: translateX(0px) skewX(0deg);
    opacity: 1;
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(300px) skewX(-45deg);
    opacity: 0;
  }
  4% {
    transform: translateX(130.348px) skewX(-26.202deg);
    opacity: 0.66;
  }
  8% {
    transform: translateX(22.718px) skewX(4.518deg);
    opacity: 1;
  }
  12% {
    transform: translateX(2.478px) skewX(13.049deg);
  }
  16% {
    transform: translateX(0.11px) skewX(5.011deg);
  }
  20% {
    transform: skewX(-2.728deg);
  }
  24% {
    transform: skewX(-3.465deg);
  }
  28% {
    transform: skewX(-1.049deg);
  }
  32% {
    transform: skewX(0.956deg);
  }
  40% {
    transform: skewX(0.094deg);
  }
  44% {
    transform: skewX(-0.33deg);
  }
  48% {
    transform: skewX(-0.211deg);
  }
  52% {
    transform: skewX(0.025deg);
  }
  100% {
    transform: translateX(0px) skewX(0deg);
    opacity: 1;
  }
}

#home {
  margin-top: 10vh;
  margin-bottom: 30px;
  text-shadow: 0.1em 0.1em 0.2em hsla(0, 0%, 53%, 0.192);
  color: #212529;
}

#myNav {
  display: flex;
  background-color: #eaeaea;
  position: fixed;
  z-index: 4;
  width: 100%;
  justify-content: space-around;
  height: 50px;
  align-items: center;
}

.noNav {
  padding-top: 60px;
}

#name {
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  margin-bottom: 10px;
}

.leftHome {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  text-align: start;
  justify-content: center;
}
.rightHome {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeLinks {
  display: flex;
  font-size: 2.5rem;
  gap: 0.5rem;
  color: rgb(50 66 87);
}

.homeLinks a {
  color: inherit;
}

.hoverLink {
  transition: font-size 0.1s ease;
}

.hoverLink:hover {
  font-size: 2.8rem;
}

.role {
  font-size: 1.2rem;
  font-weight: 500;
}

.preContact {
  font-weight: 500;
}

#emailIcon {
  margin-right: 0.3rem;
  font-size: 1.3rem;
  vertical-align: text-top;
  color: rgb(169 39 39);
}

#telephoneIcon {
  margin-right: 0.3rem;
}

.rightHome img {
  width: 70%;
}

.homeContacts {
  text-align: start;
  margin-bottom: 30px;
}

/* ------------icone Competenze---------------*/

#html5 {
  color: #ed6533;
}

#css {
  color: rgb(21 114 183);
}

#js {
  color: rgb(218 185 45);
}

#react {
  color: rgb(97 219 251);
}

#redux {
  color: rgb(118 74 188);
}

#bootstrap {
  color: rgb(138 20 252);
  padding-right: 2px;
  padding-left: 3px;
}

#sass {
  color: rgb(207 100 154);
  padding-left: 8px;
}

/*----------------------*/

#typescript {
  color: #2d79c7;
  padding-left: 1px;
}

#java {
  color: #e36f04;
}

#spring {
  color: #6db33f;
  padding-right: 2px;
}

#postgresql {
  color: #3599c7;
  padding-right: 1px;
}

/* ------------Competenze---------------*/

.allCompetenze {
  display: block;
  max-width: 567px;
}

.box {
  margin-bottom: 10px;
  display: flex;
  padding: 4px;
  border-radius: 13px;
  padding-left: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  flex-direction: column;

  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.notExpanded {
  height: 73px;
}

.expanded {
  height: 113px;
}

.frontEndSkills {
  background-color: #1a2c3e;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.backEndSkills {
  background-color: #3b2d54;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.typeContainer {
  display: flex;
  transition: all 0.3s;
}

.skillsType {
  font-size: 1.5rem;
  align-items: center;
  display: flex;
  margin-right: 0.5rem;
  font-weight: 600;
  color: white;
}

.skillsContainer {
  font-size: 3.5rem;
  display: flex;

  align-items: center;
  padding-block: 5px;
  justify-content: center;
  box-sizing: border-box;
}

.skillIcon {
  -webkit-animation: slideInRight 3.3s linear 0s 1 normal both;
  -webkit-transform-origin: 0% 100%;
  animation: slideInRight 3.3s linear 0s 1 normal both;
  transform-origin: 0% 100%;
  cursor: pointer;
  transition: font-size 0.3s ease-in-out;
  box-sizing: border-box;
}

.skillIcon:hover {
  font-size: 4.8rem;
}

.iconSpan {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.iconSpan span {
  font-size: 1.5rem;
  position: absolute;

  transition: all 0.3s ease-in-out;

  top: 67px;
  color: white;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.show {
  visibility: visible;
  opacity: 1;
}

.backend {
  margin-right: 11px;
}

.leMieComp {
  text-align: start;
  font-size: 1.5rem;
  font-weight: 800;
  color: #212529;
  margin-bottom: 5px;
  text-shadow: 0.1em 0.1em 0.2em hsla(0, 0%, 53%, 0.192);
}

/*---------lavori------*/

.progetti {
  display: flex;
}
.imgBox {
  position: relative;
  border-radius: 13px;
  margin-bottom: 24px;
}

.overlay {
  position: relative;
  border-radius: 13px;
  overflow: hidden;
}

#immagineBox {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Per adattare l'immagine al contenitore */
  transition: filter 0.3s ease; /* Aggiungi un'animazione al filtro */
  border-radius: 13px;
  cursor: pointer;
  transition: scale 0.7s ease, filter 0.3s ease;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  opacity: 0; /* Inizialmente, il testo è nascosto */
  transition: opacity 0.3s ease, top 0.7s ease; /* Aggiungi un'animazione all'opacità */

  top: 40%;
}

.imgBox:hover #immagineBox {
  filter: brightness(0.5);
}
#immagineBox:hover {
  scale: 110%;
}
.imgBox:hover .text {
  opacity: 1; /* Visualizza il testo al passaggio del mouse */
  top: 50%;
}
