@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;800;900&display=swap");

.App {
  text-align: center;
  background-color: #fafafa;
  font-family: "Inter", sans-serif;
}

.appTop {
  background-image: url("/src/Assets/cool-background.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto 70%;
  transition: background-size 0.3s ease;
}

.appBot {
  background-image: url("/src/Assets/Untitled.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 150% 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #fafafa;
}

::-webkit-scrollbar-thumb {
  background: rgb(23 79 120);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(18, 67, 102);
}

::-webkit-scrollbar-horizontal {
  height: 12px;
}

::-webkit-scrollbar-track-piece {
  background: #fafafa;
}

::-webkit-scrollbar-thumb {
  background: rgb(23 79 120);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(18, 67, 102);
}

/*/////////////////////////////*/

.dark-mode ::-webkit-scrollbar {
  width: 12px;
}

.dark-mode ::-webkit-scrollbar-track {
  background: #121212;
}

.dark-mode ::-webkit-scrollbar-thumb {
  background: rgb(23 79 120);
}

.dark-mode ::-webkit-scrollbar-thumb:hover {
  background: rgb(18, 67, 102);
}

.dark-mode ::-webkit-scrollbar-horizontal {
  height: 12px;
}

.dark-mode ::-webkit-scrollbar-track-piece {
  background: #121212;
}

.dark-mode ::-webkit-scrollbar-thumb {
  background: rgb(23 79 120);
}

.dark-mode ::-webkit-scrollbar-thumb:hover {
  background: rgb(18, 67, 102);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.linkColor {
  color: #06c;
  text-decoration: none;
  font-weight: 500;
}
.linkColor:hover {
  text-decoration: underline;
}
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(300px) skewX(-45deg);
    opacity: 0;
  }
  4% {
    -webkit-transform: translateX(130.348px) skewX(-26.202deg);
    opacity: 0.66;
  }
  8% {
    -webkit-transform: translateX(22.718px) skewX(4.518deg);
    opacity: 1;
  }
  12% {
    -webkit-transform: translateX(2.478px) skewX(13.049deg);
  }
  16% {
    -webkit-transform: translateX(0.11px) skewX(5.011deg);
  }
  20% {
    -webkit-transform: skewX(-2.728deg);
  }
  24% {
    -webkit-transform: skewX(-3.465deg);
  }
  28% {
    -webkit-transform: skewX(-1.049deg);
  }
  32% {
    -webkit-transform: skewX(0.956deg);
  }
  40% {
    -webkit-transform: skewX(0.094deg);
  }
  44% {
    -webkit-transform: skewX(-0.33deg);
  }
  48% {
    -webkit-transform: skewX(-0.211deg);
  }
  52% {
    -webkit-transform: skewX(0.025deg);
  }
  100% {
    -webkit-transform: translateX(0px) skewX(0deg);
    opacity: 1;
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(300px) skewX(-45deg);
    opacity: 0;
  }
  4% {
    transform: translateX(130.348px) skewX(-26.202deg);
    opacity: 0.66;
  }
  8% {
    transform: translateX(22.718px) skewX(4.518deg);
    opacity: 1;
  }
  12% {
    transform: translateX(2.478px) skewX(13.049deg);
  }
  16% {
    transform: translateX(0.11px) skewX(5.011deg);
  }
  20% {
    transform: skewX(-2.728deg);
  }
  24% {
    transform: skewX(-3.465deg);
  }
  28% {
    transform: skewX(-1.049deg);
  }
  32% {
    transform: skewX(0.956deg);
  }
  40% {
    transform: skewX(0.094deg);
  }
  44% {
    transform: skewX(-0.33deg);
  }
  48% {
    transform: skewX(-0.211deg);
  }
  52% {
    transform: skewX(0.025deg);
  }
  100% {
    transform: translateX(0px) skewX(0deg);
    opacity: 1;
  }
}

#home {
  margin-top: 6vh;

  text-shadow: 0.1em 0.1em 0.2em hsla(0, 0%, 53%, 0.192);
  color: #212529;
}

#myNav {
  position: fixed;
  z-index: 10;
  width: 100%;

  margin: 0;
}

.noNav {
  padding-top: 60px;
}

.cvDownloader {
  height: 50px;
}

.cvDownloader a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.93);
  text-decoration: none;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.205), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  background-color: rgb(23 79 120);
  height: 100%;
  font-size: 1.2rem;
  transition: all 0.1s ease;
}

.cvDownloader a:hover {
  background-color: rgb(18, 67, 102);
}

.cvGrafico {
  border-right: #fafafa 1px solid;
}

/*---------------------------*/

#name {
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  margin-bottom: 10px;
}

.leftHome {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  text-align: start;
  justify-content: center;
}
.rightHome {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeLinks {
  display: flex;
  font-size: 2.5rem;
  gap: 0.5rem;
  color: rgb(50 66 87);
}

.homeLinks a {
  color: inherit;
}

.hoverLink {
  transition: font-size 0.1s ease;
}

.hoverLink:hover {
  font-size: 2.8rem;
}

.role {
  font-size: 1.2rem;
  font-weight: 500;
}

.preContact {
  font-weight: 500;
}

#emailIcon {
  margin-right: 0.3rem;
  font-size: 1.3rem;
  vertical-align: text-top;
  color: rgb(169 39 39);
}

#telephoneIcon {
  margin-right: 0.3rem;
}

.rightHome img {
  width: 60%;
  margin-bottom: 35px;
}

.homeContacts {
  text-align: start;
}

/* ------------icone Competenze---------------*/

#html5 {
  color: #ed6533;
}

#css {
  color: rgb(21 114 183);
}

#js {
  color: rgb(218 185 45);
}

#react {
  color: rgb(97 219 251);
}

#redux {
  color: rgb(118 74 188);
}

#bootstrap {
  color: rgb(138 20 252);
  padding-right: 2px;
  padding-left: 3px;
}

#sass {
  color: rgb(207 100 154);
  padding-left: 8px;
}

/*----------------------*/

#typescript {
  color: #2d79c7;
  padding-left: 1px;
}

#java {
  color: #e36f04;
}

#spring {
  color: #6db33f;
  padding-right: 2px;
}

#postgresql {
  color: #3599c7;
  padding-right: 1px;
}

/* ------------Competenze---------------*/

.allCompetenze {
  display: block;
  max-width: 567px;
}

.box {
  margin-bottom: 10px;
  display: flex;
  padding: 4px;
  border-radius: 13px;
  padding-left: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  flex-direction: column;

  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.notExpanded {
  height: 73px;
}

.expanded {
  height: 113px;
}

.frontEndSkills {
  background-color: #1a2c3e;
}

.backEndSkills {
  background-color: #3b2d54;
}

.typeContainer {
  display: flex;
  transition: all 0.3s;
}

.skillsType {
  font-size: 1.5rem;
  align-items: center;
  display: flex;
  margin-right: 0.5rem;
  font-weight: 600;
  color: white;
}

.skillsContainer {
  font-size: 3.5rem;
  display: flex;

  align-items: center;
  padding-block: 5px;
  justify-content: center;
  box-sizing: border-box;
}

.skillIcon {
  -webkit-animation: slideInRight 3.3s linear 0s 1 normal both;
  -webkit-transform-origin: 0% 100%;
  animation: slideInRight 3.3s linear 0s 1 normal both;
  transform-origin: 0% 100%;
  cursor: pointer;
  transition: font-size 0.3s ease-in-out;
  box-sizing: border-box;
}

.skillIcon:hover {
  font-size: 4.8rem;
}

.iconSpan {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.iconSpan span {
  font-size: 1.5rem;
  position: absolute;

  transition: all 0.3s ease-in-out;
  pointer-events: none;
  top: 67px;
  color: white;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.show {
  visibility: visible;
  opacity: 1;
}

.backend {
  margin-right: 11px;
}

.leMieComp {
  text-align: start;
  font-size: 1.5rem;
  font-weight: 800;
  color: #212529;
  margin-bottom: 10px;
  text-shadow: 0.1em 0.1em 0.2em hsla(0, 0%, 53%, 0.192);
}

/*---------lavori------*/

.progetti {
  display: flex;
}
.progetti .imgBox {
  position: relative;
  border-radius: 13px;
  margin-bottom: 24px;
}

.overlay {
  position: relative;
  border-radius: 13px;
  overflow: hidden;
  display: flex;
  height: 100%;
}

#immagineBox {
  width: 100%;
  height: 100%;

  transition: filter 0.3s ease;
  border-radius: 13px;

  transition: scale 0.7s ease, filter 0.3s ease;

  height: auto;
}

.text {
  position: absolute;

  width: 100%;

  padding-inline: 10px;
  padding-top: 4px;
  padding-bottom: 25px;
  text-align: start;
  color: white;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.116), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  font-weight: 600;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.8)
  );

  transition: opacity 0.3s ease, top 0.7s ease;

  pointer-events: none;
  font-size: 1.4rem;
}

.imgBox:hover #immagineBox {
  filter: brightness(0.5);
  scale: 110%;
}

.buttonsBox:hover #immagineBox {
  scale: 110%;
}

.imgBox:hover .buttonsBox {
  opacity: 1;
}

.disabled {
  pointer-events: none !important;
}

.mieiProgetti {
  text-align: start;
  font-size: 1.5rem;
  font-weight: 800;
  color: #212529;
  margin-bottom: 10px;
  text-shadow: 0.1em 0.1em 0.2em hsla(0, 0%, 53%, 0.192);
}

.banner {
  color: rgb(255, 255, 255);
  z-index: 5;
  pointer-events: none;
  position: absolute;
  right: 7px;
  top: 7px;
  border-radius: 8px;
  padding-inline: 6px;
  font-weight: 600;
  font-size: 1rem;
}

.demo {
  background-color: rgb(0, 100, 17);
}

.video {
  background-color: rgb(54, 11, 11);
}

.buttonsBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 20px;
  opacity: 0;

  transition: opacity 0.3s ease;
}

.progettoButton {
  text-decoration: none;
  color: white;

  font-weight: 500;
  border-radius: 11px;
  padding-inline: 17px;
  padding-block: 8px;
  font-size: 1.3rem;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.808);
  transition: all 0.3s ease;
}

.videoButton {
  border: 2px solid rgb(54, 11, 11);
}
.demoButton {
  border: 2px solid rgb(0, 100, 17);
}

.codeButton {
  border: 2px solid rgb(31, 87, 150);
}

.videoButton:hover {
  background-color: rgb(54, 11, 11);
}
.demoButton:hover {
  background-color: rgb(0, 100, 17);
}
.codeButton:hover {
  background-color: rgb(31, 87, 150);
}

/*------------certificazioni----------*/

.certificazione-box {
  border-radius: 13px;
  position: relative;
  overflow: hidden;
}

.certificazione-image {
  position: relative;
  border-radius: 13px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.sfondoEpicode {
  background-color: rgb(26 19 50);
}

.sfondoPekit {
  background-color: #0d183a;
}

.certificazione-image img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.descrizione-certificazione {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  color: white;
  font-weight: 400;
  padding: 10px;
  padding-block: 10px;
  font-size: 0.95rem;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.certificazione-image:hover img {
  transform: translateY(-100%);
}

.certificazione-image:hover .descrizione-certificazione {
  transform: translateY(0);
}

.descrizione-certificazione a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #fafafa;
  padding: 2px;
  padding-inline: 7px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.descrizione-certificazione a:hover {
  background-color: #cfcfcf;
}

.descrizionePekit a {
  color: #0d183a;
}

.descrizioneEpicode a {
  color: rgb(26 19 50);
}

/* ---------descrizione-------------*/
.descrizioneMia {
  text-shadow: 0.1em 0.1em 0.2em hsla(0, 0%, 53%, 0.192);

  font-weight: 500;
  text-align: justify;
}

/* ---------responsive-------------*/

.skillsSpan {
  display: none;
}

@media screen and (min-width: 1800px) {
  .container {
    max-width: 1630px !important;
  }
}

@media screen and (min-width: 1400px) {
  .descrizione-certificazione {
    font-size: 1rem;
    padding-block: 1.2rem;
  }
  .descrizione-certificazione a {
    font-size: 1.2rem;
    padding: 5px;
    padding-inline: 9px;
  }
}

@media screen and (max-width: 1399px) {
  .skillIcon:hover {
    font-size: 4.5rem;
  }

  .skillsContainer {
    font-size: 3.4rem;
  }

  .iconSpan span {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 1199px) {
  .skillIcon:hover {
    font-size: 4.7rem;
  }

  .skillsContainer {
    font-size: 3.7rem;
    gap: 0.4rem;
  }

  .iconSpan span {
    font-size: 1.5rem;
  }
  .skillsSpan {
    display: initial;
  }
  .allCompetenze {
    max-width: 690px;
  }
  .expanded {
    height: 118px;
  }
  .notExpanded {
    height: 76px;
  }
  .appTop {
    background-size: auto 45%;
  }
  .descrizione-certificazione {
    font-size: 1.2rem;
    padding-block: 1.6rem;
  }
  .descrizione-certificazione a {
    font-size: 1.3rem;
    padding: 5px;
    padding-inline: 9px;
  }
}

@media screen and (max-width: 991px) {
  .descrizione-certificazione {
    font-size: 1.1rem;
    padding-block: 1rem;
  }
  .descrizione-certificazione a {
    font-size: 1.2rem;
    padding: 5px;
    padding-inline: 9px;
  }
}

@media screen and (max-width: 767px) {
  .appTop {
    background-size: auto 25%;
  }

  .rightHome img {
    display: none;
  }

  .leftHome {
    margin-bottom: 1rem;
  }

  .EPICODE {
    margin-bottom: 24px;
  }
  .skillsSpan {
    display: none;
  }
  .typeContainer {
    flex-direction: column;
    align-items: center;
  }
  .skillsType {
    margin-right: 0;
  }
  .expanded {
    height: 155px;
  }
  .notExpanded {
    height: 116px;
  }
  .box {
    padding-left: 4px;
  }

  .descrizione-certificazione {
    font-size: 1.3rem;
    padding-block: 2rem;
  }
  .descrizione-certificazione a {
    font-size: 1.6rem;
    padding: 8px;
    padding-inline: 17px;
  }
}

@media screen and (max-width: 510px) {
  .skillIcon:hover {
    font-size: 4.5rem;
  }

  .skillsContainer {
    font-size: 3.7rem;
    gap: 0;
  }

  .iconSpan span {
    font-size: 1.4rem;
  }

  .box {
    padding-inline: 4px;
  }
}
@media screen and (max-width: 469px) {
  .skillIcon:hover {
    font-size: 4.5rem;
  }

  .skillsContainer {
    font-size: 3.4rem;
    gap: 0;
  }

  .skillsType {
    font-size: 1.4rem;
  }

  .iconSpan span {
    font-size: 1.3rem;
  }

  .expanded {
    height: 145px;
  }
  .notExpanded {
    height: 106px;
  }

  .descrizione-certificazione {
    font-size: 1.2rem;
    padding-block: 2rem;
  }
  .descrizione-certificazione a {
    font-size: 1.4rem;

    padding-inline: 17px;
  }
}

@media screen and (max-width: 431px) {
  .skillIcon:hover {
    font-size: 4.5rem;
  }

  .skillsContainer {
    font-size: 3.3rem;
    gap: 0;
  }
  .descrizione-certificazione {
    font-size: 1.2rem;
    padding-block: 1.2rem;
  }
  .descrizione-certificazione a {
    font-size: 1.3rem;

    padding-inline: 17px;
  }
  .appTop {
    background-size: auto 20%;
  }
}
@media screen and (max-width: 421px) {
  .skillIcon:hover {
    font-size: 4.3rem;
  }

  .skillsContainer {
    font-size: 3.1rem;
  }
  .expanded {
    height: 145px;
  }
  .notExpanded {
    height: 100px;
  }
}
@media screen and (max-width: 401px) {
  .skillIcon:hover {
    font-size: 4rem;
  }

  .skillsContainer {
    font-size: 2.8rem;
  }
  .expanded {
    height: 135px;
  }
  .notExpanded {
    height: 95px;
  }
  .iconSpan span {
    font-size: 1.2rem;
  }
  .iconSpan span {
    top: 58px;
  }
}

@media screen and (max-width: 380px) {
  .descrizione-certificazione {
    font-size: 1.1rem;
    padding-block: 1rem;
  }
  .descrizione-certificazione a {
    font-size: 1.2rem;

    padding-inline: 17px;
  }
}

@media screen and (max-width: 363px) {
  .skillIcon:hover {
    font-size: 3.6rem;
  }

  .skillsContainer {
    font-size: 2.6rem;
  }
  .expanded {
    height: 135px;
  }
  .notExpanded {
    height: 95px;
  }
  .iconSpan span {
    font-size: 1.2rem;
  }
  .iconSpan span {
    top: 58px;
  }
  .skillsType {
    font-size: 1.3rem;
  }
  .descrizione-certificazione {
    font-size: 1rem;
    padding-block: 0.9rem;
  }
  .descrizione-certificazione a {
    font-size: 1.1rem;

    padding-inline: 10px;
  }
  .appTop {
    background-size: auto 19%;
  }
}

@media screen and (max-width: 302px) {
  .descrizione-certificazione {
    font-size: 0.9rem;
    padding-block: 0.9rem;
  }
  .descrizione-certificazione a {
    font-size: 1rem;

    padding-inline: 10px;
    padding-block: 5px;
  }
  .cvDownloader a {
    font-size: 1.1rem;
  }
}

/*---------darkMode--------*/

.dark-mode {
  background-color: #121212;
}

.dark-mode-testo {
  color: rgba(255, 255, 255, 0.87);
  text-shadow: none;
}
.dark-mode-testo-bianco {
  color: rgba(255, 255, 255, 0.87);
}

.noWallpaper {
  background: none;
}

.dark-mode-link {
  color: #58a6ff;
  text-shadow: none;
}

.dark-mode-link-icon {
  color: rgba(149, 195, 255, 0.87);
  text-shadow: none;
}

.dark-mode-cvGrafico {
  border-right: #121212 1px solid;
}

.dark-mode-testo-bianco a {
  background-color: rgba(255, 255, 255, 0.87);
}

.dark-span span {
  color: rgba(255, 255, 255, 0.87);
  text-shadow: none;
}
